<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<system.web xdt:Transform="Insert">
		<httpRuntime targetFramework="4.5" />
		<customErrors mode="Off"/>
	</system.web>

	<system.webServer>

		<iisnode loggingEnabled="true"
				 devErrorsEnabled="true"
				 interceptor="--debug"
				 xdt:Transform="SetAttributes" />

		<handlers>
			<add name="NtvsDebugProxy" path="ntvs-debug-proxy/b23e1dab-b338-418c-ac03-bf5fddbe1e1b" verb="*" resourceType="Unspecified"
				 type="Microsoft.NodejsTools.Debugger.WebSocketProxy, Microsoft.NodejsTools.WebRole"
				 xdt:Transform="Insert" />
		</handlers>

		<rewrite>
			<rules>
				<rule name="NtvsDebugProxy" enabled="true" stopProcessing="true" xdt:Transform="InsertAfter(/configuration/system.webServer/rewrite/rules/clear)">
					<match url="^ntvs-debug-proxy/.*"/>
				</rule>
			</rules>
		</rewrite>

	</system.webServer>

</configuration>